# compiled output
dist/
node_modules/

# Godot 4+
.godot/

# Imports automáticos (cache)
.import/

# Exportações
export.cfg
export_presets.cfg

# Build / arquivos gerados
*.apk
*.aab
*.exe
*.zip
.env
# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Arquivos temporários
*.tmp
*.bak

node_modules/
web-build/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
