# Godot 4+
.godot/

# Imports automáticos (cache)
.import/

# Exportações
export.cfg
export_presets.cfg

# Build / arquivos gerados
*.apk
*.aab
*.exe
*.zip

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Arquivos temporários
*.tmp
*.bak